h1{
    color:#345474;
    font: size 48px;
}

p{
    color:#000000;
    font-size: 16px;
}
header{
    width: 100%;
    background: #EEEFF1;
}
body{
   width: 100%; 
   background: #656565;
}